.gridcell {
	min-width: 9vh;
	min-height: 9vh;
	border-style: solid;
	border-color: red;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

/* .robot {
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.north {
	transform: rotateZ(0deg);
} */

.east {
	transform: rotateZ(90deg);
}

.south {
	transform: rotateZ(180deg);
}

.west {
	transform: rotateZ(270deg);
}
