.gridcell {
	min-width: 10vw;
	min-height: 10vw;
	border-style: solid;
	border-color: red;
	display: inline-block;
}

.east {
	transform: rotateZ(90deg);
}

.south {
	transform: rotateZ(180deg);
}

.west {
	transform: rotateZ(-90deg);
}
