h1 {
	margin-top: 0%;
}

.app {
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.robot1 {
	color: DeepPink;
}

.robot2 {
	color: lawngreen;
}

.robot3 {
	color: yellow;
}

.robot4 {
	color: aqua;
}

.robot5 {
	color: orange;
}
