.App {
	text-align: center;
}

h1 {
	margin-block-start: 0.1em;
	margin-block-end: 0.1em;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: aqua;
}

.robot1 {
	color: DeepPink;
}

.robot2 {
	color: lawngreen;
}

.robot3 {
	color: yellow;
}

.robot4 {
	color: aqua;
}

.robot5 {
	color: orange;
}

color: rgb(250, 85, 45);
